{{ $wordCount := .wordCount }}
{{ $readingTime := div $wordCount 275.0 }}
{{ $readingTime = math.Ceil $readingTime }}
{{ if lt $readingTime 1 }}
  {{ $readingTime = 1 }}
{{ end }}
<span class="text-sm text-gray-500">
  <i class="fa-regular fa-file-lines mr-1"></i>
  {{ $wordCount }} {{ if eq .Context.Site.Language.Lang "zh" }}字{{ else }}words{{ end }}
  <span class="mx-2">·</span>
  <i class="fa-regular fa-clock mr-1"></i>
  {{ if eq .Context.Site.Language.Lang "zh" }}
    {{ $readingTime }} 分钟阅读
  {{ else }}
    {{ $readingTime }} min read
  {{ end }}
</span>

