---
import TerminalShell from './TerminalShell'
import { buildSiteFs } from './fs/server'

const fs = await buildSiteFs()
---

<div class='wt-intro' aria-hidden='true'>
  <span class='wt-intro-tag'>// power user?</span>
  <span class='wt-intro-text'>
    Skip the scroll — try the interactive CLI. Type <code>help</code>, <code>chat</code>, or <code>ls /blog</code>.
  </span>
</div>
<TerminalShell client:load fs={fs} />
