---
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import SiteSearch from '@/components/search/SiteSearch.astro'

const meta = {
  description: 'Search relative posts of the whole blog',
  noindex: true,
  title: 'Search'
}
---

<PageLayout {meta}>
  <Button title='Back' href='/en/blog' style='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>Search</h1>
    </div>

    <div id='content' class='animate'>
      <p>Enter a search term or phrase to search the blog.</p>
      <SiteSearch />
    </div>
  </main>
</PageLayout>
