---
import { Button, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import wechat from '@/assets/wechat-qrcode.jpg'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'theme', text: 'Theme' },
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <img
      src='https://ghchart.rshah.org/joyehuang'
      alt='github activities'
      loading='lazy'
      class='h-auto max-w-full'
    />
  </p>
  <p>如果你觉得合作一个项目会有趣或有意义，你可以通过捐赠支持我的工作，或者联系我一起讨论项目。</p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>

  <h2 id='theme'>Theme</h2>
  <ProjectSection
    project={[
      {
        name: '🍭 Astro-theme-pure',
        description: 'A simple, clean but powerful blog theme build by astro.',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
          { type: 'site', href: 'https://github.com/cworld1/astro-theme-pure' },
          {
            type: 'doc',
            href: 'https://github.com/cworld1/astro-theme-pure/blob/main/src/content/blog/customize/index.md'
          }
        ]
      }
    ]}
  />

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    project={[
      {
        name: 'Atypica',
        description:
          'AI消费者研究平台，负责开发Interview Agent进行AI Persona访谈调研。',
        links: [
          { type: 'site', href: 'https://atypica.ai' }
        ]
      },
      {
        name: 'PrepWise',
        description:
          'Prepwise 是我打造的一个AI面试陪练工具，通过语音模拟真实面试，帮你自信开口、即时提升。',
        links: [
          { type: 'github', href: 'https://github.com/joyehuang/interview-prep' },
          { type: 'site', href: 'https://interview-prep-eosin.vercel.app/sign-in' }
        ]
      },
      {
        name: 'QQ Bot',
        description:
          'QQ群打卡机器人，自动管理群内打卡记录和提醒。',
        links: [
          { type: 'github', href: 'https://github.com/joyehuang/qq-bot' }
        ]
      }
    ]}
  />
  <!--
  <Collapse title='Some old projects'>
    <ProjectSection
      project={[
        {
          name: 'Search Switcher',
          description: 'Add links to each other in search engines',
          links: [{ type: 'github', href: 'https://github.com/cworld1/search-switcher' }]
        },
        {
          name: 'Pure Baidu',
          description: 'Baidu search page beautification module',
          links: [
            { type: 'doc', href: 'https://cworld0.com/blog/pure-baidu' },
            { type: 'site', href: 'https://userstyles.org/styles/173673/pure' }
          ]
        }
      ]}
    />
  </Collapse>
-->
  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    project={[
      {
        name: 'MiniMind Notes',
        description: 'MiniMind项目学习笔记',
        links: [{ type: 'github', href: 'https://github.com/joyehuang/minimind-notes' }]
      },
      {
        name: 'UCB CS61A',
        description: '我自己学习61a的代码',
        links: [{ type: 'github', href: 'https://github.com/joyehuang/interview-prep' }]
      }
    ]}
  />
  <!--
  <h2 id='others'>Others</h2>
  <ProjectSection
    project={[
      {
        name: 'CWorld',
        description: "CWorld's Github",
        links: [{ type: 'github', href: 'https://github.com/cworld1' }]
      },
      {
        name: 'Arthals',
        description: 'Arthals Github',
        links: [{ type: 'github', href: 'https://github.com/zhuozhiyongde' }]
      }
    ]}
  />
-->
<!--
  
-->
  <!-- sponsorship -->
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>Please leave a message or contact me proactively after sponsorship.</p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <p>Thanks to the following sponsors:</p>
  <Sponsors
    sponsors={[

    ]}
  />
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
