---
import '@pagefind/default-ui/css/ui.css'

interface Props {
  locale: string
}

const { locale } = Astro.props
---

<site-search data-locale={locale}>
  <aside class='form my-4'>
    {
      import.meta.env.DEV ? (
        <div class='w-full rounded-xl border-2 bg-transparent px-4 py-2 pe-3 outline-none focus:border-foreground'>
          You are in Dev mode, the search is disabled.
        </div>
      ) : (
        <div id='site-search' />
      )
    }
  </aside>
</site-search>

<script define:vars={{ locale }}>
  class SiteSearch extends HTMLElement {
    constructor() {
      super()

      const formatURL = (path) => path.replace(/(.)\/(#.*)?$/, '$1$2')

      window.addEventListener('DOMContentLoaded', () => {
        const onIdle = window.requestIdleCallback || ((cb) => setTimeout(cb, 1))
        onIdle(async () => {
          const currentLocale = this.dataset.locale || locale
          // @ts-expect-error — Missing types for @pagefind/default-ui package.
          const { PagefindUI } = await import('@pagefind/default-ui')
          const pagefind = new PagefindUI({
            element: '#site-search',
            baseUrl: import.meta.env.BASE_URL,
            bundlePath: import.meta.env.BASE_URL.replace(/\/$/, '') + '/pagefind/',
            showImages: false,
            showSubResults: true,
            processResult: (result) => {
              result.url = formatURL(result.url)
              result.sub_results = result.sub_results.map((subResult) => {
                subResult.url = formatURL(subResult.url)
                return subResult
              })
            }
          })

          if (currentLocale) {
            pagefind.triggerFilters({ locale: currentLocale })
          }
        })
      })
    }
  }

  customElements.define('site-search', SiteSearch)
</script>

<style>
  #site-search {
    --pagefind-ui-scale: 0.8;
    --pagefind-ui-primary: hsl(var(--primary) / var(--un-bg-opacity, 1));
    --pagefind-ui-text: hsl(var(--foreground) / var(--un-text-opacity, 1));
    --pagefind-ui-background: hsl(var(--muted) / var(--un-bg-opacity, 1));
    --pagefind-ui-border: hsl(var(--border) / var(--un-border-opacity, 1));
    --pagefind-ui-tag: hsl(var(--muted-foreground) / var(--un-text-opacity, 1));
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: calc(var(--radius) + 2px);
    --pagefind-ui-image-border-radius: calc(var(--radius) + 2px);
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: sans-serif;
  }
</style>
