---
import type { HTMLAttributes } from 'astro/types'

import { cn } from 'astro-pure/utils'
import { formatDateForLocale, getCurrentLocale } from '@/i18n'

type Props = HTMLAttributes<'time'> & {
  date: Date
  dateTimeOptions?: Intl.DateTimeFormatOptions
  class?: string
}

const { date, dateTimeOptions, class: className, ...attrs } = Astro.props
const locale = getCurrentLocale(Astro.url.pathname, Astro.currentLocale)
const postDate = formatDateForLocale(date, locale, dateTimeOptions)
---

<span class={cn('font-mono text-muted-foreground', className)} {...attrs}>
  <time datetime={date.toISOString()}>{postDate}</time>
</span>
